/* General Styling */
body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background: linear-gradient(120deg, #f4f7f6, #e6f5f2); /* Soft gradient background */
}

.app-header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid lightgray;
  border-radius: 8px;
  padding: 5px; /* Added padding for spacing */
  margin-bottom: 10px;

}

.logo {
  width: 15%;
  padding: 5px;
  transition: all 0.3s ease; /* Smooth transition for resizing */
  justify-content: center;
}

.search-bar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: relative;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f3f4;
  border-radius: 15px;
  padding: 2px;
  margin-left: 20px; /* Adjust left margin for space */
  width: 100%;
  max-width: 300px; /* Maximum width for larger screens */
  padding-right: 0;
  margin-right: 0;
}
.category-search{
  display: flex;
  align-items: center;
  padding: 2px 10px;
  border-radius: 15px;
  width: 100%;
}

.category-search input {
  border: none;
  outline: none;
  background: none;
  width: 100%; /* Take full available space */
  padding: 5px;
  font-size: 13px; /* Ensure text size is readable */
}

.search-box {
  display: flex;
  align-items: center;
}

.search-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.search-icon svg {
  width: 20px;
  /* Set the width of the SVG to match its original size */
  height: 20px;
  /* Set the height of the SVG to match its original size */
}
.location-search{
  width: 300px;
}

.geocoder{
  display: flex;
  align-items: center;
  position: relative; /* Important: this keeps the dropdown attached to the input */
  width: 300px; /* Ensure it takes the full width of its container */
  border-radius: 15px;
  padding: 2px;
  z-index: 999;
}

/* Style the Geocoder input box */
.mapboxgl-ctrl-geocoder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%; 
}

.mapboxgl-ctrl-geocoder input {
  font-size: 13px; /* Font size for text */
  width: 300px;
}

.mapboxgl-ctrl-geocoder {
  display: flex;
  align-items: center; /* Vertically center the content */
  padding: 2px; /* Reduce padding to adjust height */
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--icon-search {
  width: 16px;  /* Adjust icon size if needed */
  height: 16px;
  margin-right: 5px; /* Adjust margin for spacing */
  display: flex;
  align-items: center; /* Center icon within its container */
  justify-content: center;
}

/* Style the suggestions dropdown */
.mapboxgl-ctrl-geocoder .suggestions {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 1000;
  width: 100%; 
  background-color: #fff; /* White background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  border: 1px solid #ddd; /* Light border */
  padding: 0 /* Padding around suggestions */
}

/* Individual suggestion styling */
.mapboxgl-ctrl-geocoder .suggestions li {
  padding: 12px 15px; /* Padding inside each suggestion */
  font-size: 14px; /* Font size */
  font-family: 'Segoe UI', sans-serif;
  cursor: pointer;
  color: #333; /* Text color */
  list-style-type: none; /* Remove bullets */
  border-bottom: 1px solid #eee; /* Light bottom border */
}

/* First suggestion styling (bold) */
.mapboxgl-ctrl-geocoder .suggestions li:first-child {
  font-weight: bold;
}

/* Hover effect for suggestions */
.mapboxgl-ctrl-geocoder .suggestions li:hover {
  background-color: #f1f3f4; /* Light hover background */
  color: #365fa6; /* Change text color on hover */
}

/* Remove the border for the last suggestion item */
.mapboxgl-ctrl-geocoder .suggestions li:last-child {
  border-bottom: none;
}

/* Style the 'Powered by Mapbox' link */
.mapboxgl-ctrl-geocoder .suggestions .mapboxgl-ctrl-geocoder--powered-by {
  padding: 10px 15px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  font-size: 12px;
  color: #888;
  text-align: right; /* Align text to the right */
}

/* Hide the pin-right and clear button (if still visible) */
.mapboxgl-ctrl-geocoder--pin-right,
.mapboxgl-ctrl-geocoder--button {
  display: none;
}

input {

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  outline: none;
  background: none;
  width: 200px;
  /* Adjust as needed */
  padding: 3px;
}



/* Header Buttons */
.header-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-bottom: 10px;
}

.header-button {
  text-decoration: none;
  color: #365fa6; /* Brand primary color */
  background-color: #f7fafc; /* Light background button */
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 600;
  border: 1px solid #e2e8f0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect for header buttons */
.header-button:hover {
  background-color: #365fa6;
  color: #ffffff;
}

/* Dashboard Container */
.dashboard-container {
  display: flex;
  flex-direction: row; /* Horizontal layout for larger screens */
  margin-bottom: 20px;
  border: none;
  height: calc(100vh - 100px); 
  overflow: hidden;
}

/* Grid */
.grid {
  flex: 1;
  overflow-y: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Light shadow */
  border-radius: 10px;
  background-color: white;
  height: 80vh;
}

.grid-container{
  overflow-y: scroll;
}

/* Map */
.map {
  border: none;
  flex: 1;
  height: 80vh;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Light shadow */
  border-radius: 10px;
  z-index: 1;
}

/* Default Map Container for large screens */
.map-container {
  width: 100%; 
  height: 80vh; /* Use a percentage-based height */

  transition: height 0.3s ease; /* Add smooth transition for height changes */
}

/* Popup Styling */
.leaflet-popup-content-wrapper {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.leaflet-popup-tip {
  background-color: #ffffff;
}
/* Popup Container */
.popup-container {
  border-radius: 8px;
  background-color: transparent;
  width: 200px; /* Default width */
}

/* Title in the Popup */
.popup-title {
  margin: 0 0 10px 0;
  font-size: 16px; /* Default font size */
  font-weight: bold;
  color: #54c594; /* Custom green color */
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

/* Address in the Popup */
.popup-address {
  margin: 5px 0;
  color: #7f8c8d; /* Custom gray color */
  font-size: 14px; /* Default font size */
}

/* Website Link in the Popup */
.popup-website {
  color: #365fa6; /* Custom blue color */
  text-decoration: none;
  font-weight: 500;
  display: block;
  margin-top: 10px;
}

/* No Website Available Text */
.popup-no-website {
  color: #365fa6; /* Custom blue color */
  font-size: 12px; /* Slightly smaller font size */
}

/* Filter */
.filter {
  display: flex;
  margin-right: 10px;
  justify-content: flex-start;
}

.filter-control{
  width: 150px;
  height: 30px;
  justify-content: center;
  font-size: 0.7rem;
  transition: all 0.3s ease; /* Smooth resizing effect */


}
.MuiDataGrid-footerContainer {
  border-top: 1px solid #ddd;
  background-color: white;
  padding: 10px;
  position: sticky; /* Keep footer always visible */
  bottom: 0; /* Stick to the bottom */
  z-index: 1; /* Ensure it stays above the grid content */
}
/* Responsive Layout */
@media (max-width: 768px) {

  .dashboard-container {
    flex-direction: column-reverse; 
  }

  .grid {
    height: 50vh; /* Adjust grid height */
    max-height: 50vh;
    overflow-y: scroll; /* Ensure the grid can scroll */
  }

 
  .map {
    height: 50vh; /* Shrink the map for mobile */
  }

  .map-container {
    height: 50vh; /* Keep consistent with the map */
  }
 

  .logo{
    width: 20%;
  }

  .filter-control {
    width: 90px; /* Resize for mobile view */
    height: 35px;
    font-size: 0.6rem;
  }

  .popup-container {
    width: 180px; /* Smaller width for tablets */
  }

  .popup-title {
    font-size: 14px; /* Smaller title font */
  }

  .popup-address {
    font-size: 12px; /* Smaller address font */
  }

  .popup-website {
    font-size: 12px; /* Smaller font size for the link */
    margin-top: 8px;
  }

  .search-bar {
    width: 50%;
    padding: 2px 5px; /* Reduce padding */
    margin-left: 10px;
  }

  .category-search {
    display: none;
  }

  .geocoder{
    width: 100%;
  }
 

  .mapboxgl-ctrl-geocoder input {
    font-size: 12px; /* Adjust font size for geocoder input */
  }

  /* Adjust the suggestion box */
  .mapboxgl-ctrl-geocoder .suggestions {
    width: calc(100vw - 80px); /* Ensure the suggestion box doesn't overflow */
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  /* Adjust padding and font size for smaller devices */
  .mapboxgl-ctrl-geocoder .suggestions li {
    padding: 10px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  

  .search-bar {
    width: 50%;
    padding: 2px 5px; /* Reduce padding */
  }

  .category-search {
    display: none;
  }

  .location-search{
    width: 100px;
  }
  .geocoder{
    width: 80px;
  }

  .mapboxgl-ctrl-geocoder input {
    font-size: 10px; /* Adjust font size for geocoder input */
  }


  .logo{
    width: 25%;
  }
 

  .filter-control {
    width: 60px; /* Further shrink for very small screens */
    height: 30px;
    font-size: 0.6rem;
  }

  .popup-container {
    width: 160px; /* Even smaller width for mobile */
  }

  .popup-title {
    font-size: 13px; /* Smaller title font */
  }

  .popup-address {
    font-size: 11px; /* Smaller address font */
  }

  .popup-website {
    font-size: 11px; /* Smaller font size for the link */
    margin-top: 6px;
  }
  /* Further adjustments for very small screens */
  .mapboxgl-ctrl-geocoder input {
    font-size: 12px;
    padding: 5px;
  }

  .mapboxgl-ctrl-geocoder .suggestions {
    width: 150px
  }

  .mapboxgl-ctrl-geocoder .suggestions li {
    padding: 8px;
    font-size: 12px;
  }
}






